.columnItem {
    position: relative;
    height: 32px;
    width: 30%;
    margin-right: 10px;

    .rename {
        display: none;
    }

    &:hover {
        background: var(--color-grey-100);
        .rename {
            display: block;
        }
    }

    &::after {
        content: '';
        height: 1px;
        width: 1000px;
        background: var(--color-grey-400);
        position: absolute;
        bottom: 0;
    }

    .input {
        position: relative;
        z-index: 2;
        height: 26px;
    }
}
